<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shiper">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Shiper">
        <activity android:name=".ThongBao_Activity"></activity>
        <activity android:name=".ThongKe_activity" />
        <activity android:name=".Lichsugiaohang_Activity" />
        <activity android:name=".LyDo_Activity" />
        <activity android:name=".DanhSachDonHang_Activity" />
        <activity android:name=".QuenMatKhau_Activity" />
        <activity android:name=".Home_Activity" />
        <activity
            android:name=".DangChoXacNhan_Activity"
            android:label="Đang chờ xác nhận"
            android:parentActivityName=".DangChoXacNhan_Activity" />
        <activity
            android:name=".XacNhanTraHang_Activity"
            android:label="Xác nhận trả hàng"
            android:parentActivityName=".XacNhanTraHang_Activity" />
        <activity
            android:name=".XacNhanDaTraTien_Activity"
            android:label="Xác nhận trả tiền"
            android:parentActivityName=".XacNhanDaTraTien_Activity" />
        <activity
            android:name=".DangGiaoHang_Activity"
            android:label="Đang giao hàng"
            android:parentActivityName=".DangGiaoHang_Activity" />
        <activity android:name=".LayHang_Activity" />
        <activity
            android:name=".ChiTietDonHang_Activity"
            android:label="Chi tiết đơn hàng"
            android:parentActivityName=".ChiTietDonHang_Activity" />
        <activity
            android:name=".Thongtincanhan_Activity"
            android:label="Thong Tin ca nhan"
            android:parentActivityName=".Home_Activity" />
        <activity
            android:name=".Doi_Mat_Khau_Activity"
            android:label="Đổi mật khẩu"
            android:parentActivityName=".Home_Activity" />
        <activity android:name=".MainActivity_Activity" />
        <activity
            android:name=".Login_Activity"
            android:label="Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>